.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    a {
        list-style: none;
        text-decoration: none;
    }
    .card {
        width: calc(100% / 5 - 20px);
        margin: 20px 10px;
        background-color: lightgray;
        padding: 1em;
        border-radius: 1em;
        box-shadow: 8px 8px 14px 6px rgba(17, 17, 17, 0.5);
        transition: 0.6s;
        overflow: hidden;
        text-align: center;
        &:hover {
            cursor: pointer;
            transform: translatey(-10%);
        }
    }
}
